<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Charles Naut</title>

        {% load static %}
        <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap-responsive.min.css" type="text/css" />
        <link rel="stylesheet" href="{% get_static_prefix %}css/main.css" type="text/css" />
        <link rel="stylesheet" href="{% get_static_prefix %}css/main2.css" type="text/css" />
        <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.min.css" type="text/css" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.min.js" type="text/javascript"></script> --!>
        <script src="{% get_static_prefix %}js/jquery-1.8.3.min.js" type="text/javascript"></script>
        <script src="{% get_static_prefix %}js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{% get_static_prefix %}js/main.js" type="text/javascript"></script>
    </head>

    <body>
        <div id="banner" class="span12">
            <div id="info-pane">
                <h1 id="banner-name">Charles Naut</h1>
            </div>
       </div>
    
        
        <div id="container" class="container-fluid">
            <div class="row-fluid">
                <div class="span2" id="side-bar">
                    <div class="menu-item">Projects</div>
                    <div class="menu-item">Resume</div>
                    <div class="menu-item">Papers</div>
                    <div class="menu-item">Twitter</div>
                    <div class="menu-item">Blog</div>
                    <div class="menu-item">Linkedin</div>
                </div>
                <div class="span10" id="main-intro">
                    <p>Hey! I'm a recent Stanford CS grad working as a Program Manager for Microsoft's Bing search engine.</p> 
                    <p class="main-details">My <b>passions</b> include technology, social change, and entrepreneurship.</p>
                    <p class="main-details">My <b>loves</b> include my family, my friends, New York, Stanford, baby back ribs, sports, video games, and movies.</p>
                    <p class="main-details">My <b>interests</b> include programming, cloud computing, business, artificial intelligence,  
                </div>
            </div>
        </div>
        
    </body>

</html>
