<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Charles Naut</title>

        {% load static %}
        <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap-responsive.min.css" type="text/css" />
        <link rel="stylesheet" href="{% get_static_prefix %}css/main.css" type="text/css" />
        <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.min.css" type="text/css" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="{% get_static_prefix %}js/bootstrap.min.js"></script>
    </head>

    <body>
        <div id="banner" class="span12">
            <div id="info-pane">
                <span id="bio">I'm a recent Stanford CS grad working as a Program Manager for Microsoft's Bing search engine.</span>
                <h1 id="banner-name">Charles Naut</h1>
            </div>
       </div>
    
        
        <div class="container">
            <div class="row" id="first-row">
                <div class="span4 page-box"><a href="projects">Projects</a></div>
                <div class="span4 page-box">Resume</div>
                <div class="span4 page-box">Papers</div>
            </div>
            <div class="row">
                <div class="span4 page-box"><a href="http://twitter.com/cnaut">Twitter</a></div>
                <div class="span4 page-box"><a href="http://blog.charlesnaut.com">Blog</a></div>
                <div class="span4 page-box"><a href="http://linkedin.com/in/charlesnaut">Linkedin</a></div>
            </div>
        </div>
    </body>

</html>
