<!DOCTYPE html>
<html lang="en">
<head>
  <title>Charles Naut</title>

  {% load static %}
  <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap-responsive.min.css" type="text/css" />
  <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="{% get_static_prefix %}css/index.css" type="text/css" />
  <link rel="stylesheet" href="{% get_static_prefix %}css/icon.css" type="text/css" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,400,100italic,300italic,300,400italic,500italic,500,700italic,700,900italic,900" type="text/css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9093589-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
  <div id="main" class="span12">
    <div id="content" class="span12">
      <h1 id="header">CHARLES NAUT</h1>
			<h3>Co-Founder at Black Cape Labs | Full-Stack Web Developer</h3>
			<h4 id="projects"><a id="project-link" href="https://beta.getsubscribely.com">Subscribely</a> | <a href="http://glean.charlesnaut.com">Fitness Dashboard</a> | <a href="http://considerateapp.com">Considerate App</a> | <a href="http://dodgebook.com">dodgebook</a></h4>
			<div>
				<ul class="socialicons color">
					<li><a href="http://linkedin.com/in/charlesnaut" class="linkedin" target="_blank">linkedin</a></li>
					<li><a href="http://twitter.com/cnaut" class="twitter" target="_blank">twitter</a></li>
					<li><a href="http://blog.charlesnaut.com" class="tumblr" target="_blank">tumblr</a></li>
					<li><a href="http://quora.com/Charles-Naut" class="quora" target="_blank">quora</a></li>
					<li><a href="http://pinterest.com/cnaut" class="pinterest" target="_blank">pinterest</a></li>
					<li><a href="http://plus.google.com/109949815088571911819" class="gpluslight" target="_blank">gpluslight</a></li>
				</ul>
			</div>
    </div>
  </div>
</body>
</html>
