body {
  background-color: white;
}

body * {
//  font-family: "Segoe UI Light", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-family: "Roboto";
  font-weight: 100;
  color: black;
}

#main {
  margin: 0px;
  height: 100%;
  text-align: center;
}

#content {
  margin: 0px;
  margin-top: -65px;
  width: 100%;
  position: absolute;
  top: 50%;
}

#header {
  font-size: 60px;
  padding-bottom: 10px;
}

#content ul {
  width: 246px;
  margin-left: auto;
  margin-right: auto;
}
