body * {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif
}

#banner {
    margin: 0;
    width: 100%;
    color: white;
    background-color: black;
    background-repeat: no-repeat;
    position: fixed;
}


#banner-name {
    padding: 10px;
    font-size: 60px;
}

#banner-name a {
    color: white;
    text-decoration: none;
}

#container {
    padding-top: 50px;
}

#top-bar{
	position: fixed;
	margin-top: 65px;
}

@media (max-width: 700px) { 
	#banner-name {
		font-size: 40px;
	}
	
	#top-bar {
		display: block;
		font-size: 20px;
		margin-left: 0px;
	}
	
	#side-bar {
		display: none;
	}
	
	#content {
		padding-top: 35px;
		width: 100%
	}

    .page {
		font-size: 20px;
    } 
	
	#main .main-details {
		font-size: 15px;
	}
	
	body {
		padding: 0px;
	}
}

@media (min-width: 701px) { 
	#top-bar {
		display: none;
	}
	
	#side-bar {
		display: block;
		font-size: 35px;
	}
	
	.page {
		font-size: 30px;
	}
	
	
	#main .main-details {
		font-size: 25px;
	}
}


#bio {
    float: right;
    width: 555px;
    padding: 10px;
    font-size: 28px;
    line-height: 40px;
}

#side-bar, #top-bar {
    padding-top: 40px;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif
}

.menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.menu-item:hover {
    background-color: black;
    color: white;
}

.menu-item a {
    color: #333;
}

.menu-item:hover a {
    background-color: black;
    color: white;
}
.menu-item a:hover {
    background-color: black !important;
    color: white;
    text-decoration: none;
}

.side-nav .active + li {
    background-color: black;
}

.side-nav .active + li a {
    color: white;
}

.top-nav .active {
    background-color: black;
}

.top-nav .active {
    color: white;
}

.page {
    padding: 25px;
    line-height: 40px;
}

#main p {
    padding-bottom: 12px;
}

p#main-intro {
    padding-bottom: 25px;
}

div.hidden-page {
    display: none !important;
}

#project-page p {
    padding-bottom: 5px;
}

#project-page div {
    font-size: 37px;
}

#projects {
    padding-bottom: 50px;
}

#projects div, #papers div {
 line-height: 50px;
}

#end-padding {
    height: 120px;
}    
