#side-bar {
    font-size: 40px;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif
}

.menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.menu-item:hover {
    background-color: black;
    color: white;
}

.menu-item a {
    color: #333;
}

.menu-item:hover a {
    color: white;
}
.menu-item a:hover {
    color: white;
    text-decoration: none;
}

.page {
    padding: 25px;
    font-size: 40px;
    line-height: 40px;
}

#main p {
    padding-bottom: 12px;
}

p#main-intro {
    padding-bottom: 25px;
}


#main .main-details {
    font-size: 30px;
}

div.hidden-page {
    display: none !important;
}
