#side-bar {
    font-size: 40px;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif
}

.menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.menu-item:hover {
    background-color: black;
    color: white;
}

#main-intro {
    padding: 25px;
    font-size: 40px;
    line-height: 40px;
}

#main-intro p {
    padding-bottom: 15px;
}

#main-intro .main-details {
    font-size: 30px;
}

