body {
}

#banner {
    margin: 0;
    margin: 0;
    height: 300px;
    width: 100%;
    color: white;
    background-color: black;
    background-image: url(/static/img/profilepic.jpg);
    background-repeat: no-repeat;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif
}

#banner:hover {
    color: black;
    background-color: white;
}

#info-pane {
    float: right;
}

#banner-name {
    padding: 10px;
    margin-top: 225px;
    font-size: 80px;
}

#bio {
    float: right;
    width: 500px;
    padding: 10px;
    font-size: 35px;
    line-height: 40px;
}

.page-box {
    height: 100px;
    
    text-align: center;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 45px;
    line-height: 50px;
    
    border-style: solid;
    border-width: 1px;

    font-size: 30px;
    color: white;
    background-color: black;
}

.page-box:hover {
    color: black;
    background-color: white;
    border-color: white;
}
