body * {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif
}

#banner {
    margin: 0;
    height: 225px;
    width: 100%;
    color: white;
    background-color: black;
    background-image: url(/static/img/profilepic.jpg);
    background-repeat: no-repeat;
}

#info-pane:hover {
    background-color: white;
}
#info-pane:hover a {
    color: black;
}

#info-pane {
    float: right;
}

#banner-name {
    padding: 10px;
    margin-top: 155px;
    font-size: 70px;
}

#banner-name a {
    color: white;
    text-decoration: none;
}

#bio {
    float: right;
    width: 555px;
    padding: 10px;
    font-size: 30px;
    line-height: 40px;
}

#side-bar {
    font-size: 40px;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif
}

.menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.menu-item:hover {
    background-color: black;
    color: white;
}

.menu-item a {
    color: #333;
}

.menu-item:hover a {
    background-color: black;
    color: white;
}
.menu-item a:hover {
    background-color: black !important;
    color: white;
    text-decoration: none;
}

.side-nav .active {
    background-color: black;
}

.side-nav .active a {
    color: white;
}

.page {
    padding: 25px;
    font-size: 35px;
    line-height: 40px;
}

#main p {
    padding-bottom: 12px;
}

p#main-intro {
    padding-bottom: 25px;
}


#main .main-details {
    font-size: 30px;
}

div.hidden-page {
    display: none !important;
}

#project-page p {
    padding-bottom: 5px;
}

#project-page div {
    font-size: 37px;
}

#projects {
    padding-bottom: 50px;
}

#projects div, #papers div {
 line-height: 50px;
}
